<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>D8 API</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script defer src="app.js"></script>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body>
    <div id="app" class="page">
      <header class="page__header">
        <h1 class="page__title">Coches &mdash; Drupal 8 REST API</h1>
      </header>
      <main>
        <section v-if="!loaded">
          <h1>Loading data ...</h1>
        </section>
        <section v-if="loaded">
          <form class="form" action="#">
            <label for="matricula">Matrícula</label>
            <input
              type="text"
              id="matricula"
              name="matricula"
              v-model="filtro.matricula"
              @input="filterCoches">

            <fieldset>
              <legend>Color</legend>

              <input type="radio" id="blanco" name="color" />
              <label for="blanco">Blanco</label>

              <input type="radio" id="gris" name="color" />
              <label for="gris">Gris</label>

              <input type="radio" id="rojo" name="color" />
              <label for="rojo">Rojo</label>
            </fieldset>

          </form>
        </section>
        <section v-if="loaded">
          <p>Total coches: {{ total }}</p>
          <p v-if="total">Página {{ this.pagina.current }} / {{ paginas }}</p>
          <button type="button" name="button" @click="previousPage" v-if="previous">Anterior</button>
          <button type="button" name="button" @click="nextPage" v-if="next">Siguiente</button>
          <ul class="list">
            <coche
              class="list__item"
              v-for="coche in pagina.items"
              v-bind:coche="coche"
              v-bind:key="coche.id"
              >
            </coche>
          </ul>
        </section>

      </main>

    </div>
  </body>
</html>
