* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.page {

}
.page__header {
  color: white;
  background-color: lightblue;
  padding: 1rem 0.5rem;
}
.page__title {
  text-align: center;
  text-transform: uppercase;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  padding: 1rem;
}
.list__item {
  margin: 1rem;
}

.coche {
  display: flex;
  flex-direction: column;
  border: solid 1px red;
}
.coche__meta {
  background-color: white;
}
.coche__foto {
  width: 200px;
  height: 200px;
}
